<!DOCTYPE html>
<html ng-app=exampleApp>
	<head>
		<title>Directives</title>
		<script src="/angular/angular.min.js"></script>
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />

		<script>
			angular.module("exampleApp", [])
				.controller("defaultCtrl", function($scope) {
					$scope.data = {};

					$scope.todos = [
						{ action : "Get groceries", complete : false},
						{ action : "Buy Flowers", complete : false},
						{ action : "Get Shoes", complete : true},
						{ action : "Collect Tickets", complete : true},
						{ action : "Call Joe", complete : false},
					];

					$scope.viewFile = function() {
						return $scope.showList ? "list.html" : "table.html";
					};

					$scope.reportChange = function() {
						console.log("Displayed content: " + $scope.viewFile());
					};
				});
		</script>
		<style>
			td > *:first-child {font-weight : bold;}
		</style>
	</head>

	<body>
		<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
			<h3 class="panel-header">To Do List</h3>
			<div class="checkbox well">
				<label>
					<input type="checkbox" ng-model="todos[2].complete" />
					Item 3 is complete
				</label>
				
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Action</th>
						<th>Done</th>
					</tr>
				</thead>
				<tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
					<td>{{$index + 1}}</td>
					<td>{{item.action}}</td>
					<td>
						<span ng-hide="item.complete">(Incomplete)</span>
						<span ng-show="item.complete">(Done)</span>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>